# Ejercicio 1: Muchos intentos 😭
## Contexto:
Se tiene un archivo con las calificaciones de un examen de un grupo. En el listado algunas personas tuvieron la posibilidad de realizar el examen más de una vez.

## Requerimiento:

En el archivo que tienen varias calificaciones de una misma persona, se requiere quedarnos solo con la calificación del primer intento.

In [71]:
import pandas as pd
from datetime import datetime

In [72]:
!ls

ObtenerPrimerIntento.ipynb data

In [73]:
PATH = "data"
archivo_csv = f'{PATH}/Input_MoodleQuiz.csv'
archivo_csv

'data/Input_MoodleQuiz.csv'

In [74]:
# Cargar el archivo CSV en un DataFrame
df = pd.read_csv(archivo_csv)
df.head(n=5)

,Nombre completo,Correo,Estatus,Hora y fecha última conexión,Calificación
0,Scott Flynn,scott.flynn@example.com,Finalizado,2 de febrero de 2021 12:32,6.75
1,Kyle Hudson,kyle.hudson@example.com,Finalizado,4 de mayo de 2021 09:30,2.92
2,Brian Wright,brian.wright@example.com,Finalizado,19 de diciembre de 2023 20:19,4.53
3,Erin Bradley,erin.bradley@example.com,En Curso,3 de junio de 2023 08:56,8.87
4,Julie Hunter,julie.hunter@example.com,Finalizado,16 de septiembre de 2022 16:48,2.32

In [75]:
df.count()

Nombre completo                 10000
Correo                          10000
Estatus                         10000
Hora y fecha última conexión    10000
Calificación                    10000
dtype: int64

In [76]:
# Filtrar por Estatus = "Finalizado"
df_finalizado = df[df['Estatus'] == 'Finalizado']
df_finalizado.count()

Nombre completo                 9500
Correo                          9500
Estatus                         9500
Hora y fecha última conexión    9500
Calificación                    9500
dtype: int64

In [77]:
print(df_finalizado.dtypes)

Nombre completo                  object
Correo                           object
Estatus                          object
Hora y fecha última conexión     object
Calificación                    float64
dtype: object

In [78]:
# Diccionario para mapear los nombres de los meses en español a inglés
meses_dict = {
    "enero": "January",
    "febrero": "February",
    "marzo": "March",
    "abril": "April",
    "mayo": "May",
    "junio": "June",
    "julio": "July",
    "agosto": "August",
    "septiembre": "September",
    "octubre": "October",
    "noviembre": "November",
    "diciembre": "December"
}

In [79]:
# Función para traducir una fecha en español y cambiar el formato
def traducir_fecha(fecha_str):
    # Dividir la cadena en palabras
    partes = fecha_str.split()
    
    # Eliminar los elementos especificados
    partes.pop(1)  # Eliminar el elemento en la posición 1
    partes.pop(2)  # Eliminar el elemento en la posición 2 (se cambia después de eliminar el elemento anterior)
    
    # Traducir el nombre del mes
    partes[1] = meses_dict.get(partes[1], partes[1])

    # Reorganizar las partes de la fecha
    fecha_reorganizada = partes[1] + " " + partes[0] + ", " + partes[2] + " " + partes[3]

    # Convertir la cadena a formato de fecha y hora en inglés
    fecha_ingles = pd.to_datetime(fecha_reorganizada, format='%B %d, %Y %H:%M')

    return fecha_ingles

In [80]:
# Traducir la columna "Hora y fecha última conexión" al formato en inglés
df_finalizado['LastConnetion'] = df_finalizado['Hora y fecha última conexión'].apply(traducir_fecha)
df_finalizado.head()

/var/folders/jq/d5wprh013pj2j1ljy3d7g4_r0000gn/T/ipykernel_74990/2453891849.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_finalizado['LastConnetion'] = df_finalizado['Hora y fecha última conexión'].apply(traducir_fecha)

,Nombre completo,Correo,Estatus,Hora y fecha última conexión,Calificación,LastConnetion
0,Scott Flynn,scott.flynn@example.com,Finalizado,2 de febrero de 2021 12:32,6.75,2021-02-02 12:32:00
1,Kyle Hudson,kyle.hudson@example.com,Finalizado,4 de mayo de 2021 09:30,2.92,2021-05-04 09:30:00
2,Brian Wright,brian.wright@example.com,Finalizado,19 de diciembre de 2023 20:19,4.53,2023-12-19 20:19:00
4,Julie Hunter,julie.hunter@example.com,Finalizado,16 de septiembre de 2022 16:48,2.32,2022-09-16 16:48:00
5,Michael Abbott,michael.abbott@example.com,Finalizado,25 de noviembre de 2024 15:08,1.46,2024-11-25 15:08:00

In [81]:
df_finalizado.count()

Nombre completo                 9500
Correo                          9500
Estatus                         9500
Hora y fecha última conexión    9500
Calificación                    9500
LastConnetion                   9500
dtype: int64

In [82]:
print(df_finalizado.dtypes)

Nombre completo                         object
Correo                                  object
Estatus                                 object
Hora y fecha última conexión            object
Calificación                           float64
LastConnetion                   datetime64[ns]
dtype: object

In [83]:
# Ordenar el DataFrame por "Nombre completo" y "LastConnetion" en orden ascendente
df_finalizado.sort_values(by=["Nombre completo", "LastConnetion"], ascending=[True, True], inplace=True)
df_finalizado.head()

/var/folders/jq/d5wprh013pj2j1ljy3d7g4_r0000gn/T/ipykernel_74990/398575506.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_finalizado.sort_values(by=["Nombre completo", "LastConnetion"], ascending=[True, True], inplace=True)

,Nombre completo,Correo,Estatus,Hora y fecha última conexión,Calificación,LastConnetion
4472,Aaron Anderson,aaron.anderson@example.com,Finalizado,16 de abril de 2020 20:56,0.45,2020-04-16 20:56:00
6483,Aaron Bailey,aaron.bailey@example.com,Finalizado,21 de noviembre de 2023 10:11,7.65,2023-11-21 10:11:00
6773,Aaron Barnes,aaron.barnes@example.com,Finalizado,4 de diciembre de 2021 05:26,2.45,2021-12-04 05:26:00
8456,Aaron Bowers,aaron.bowers@example.com,Finalizado,4 de septiembre de 2022 09:19,8.85,2022-09-04 09:19:00
1064,Aaron Bradford,aaron.bradford@example.com,Finalizado,18 de febrero de 2023 06:22,5.67,2023-02-18 06:22:00

In [84]:
# Eliminar filas duplicadas, manteniendo solo la primera aparición de cada alumno
df_finalizado.drop_duplicates(subset="Nombre completo", keep="first", inplace=True)

/var/folders/jq/d5wprh013pj2j1ljy3d7g4_r0000gn/T/ipykernel_74990/1653231004.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_finalizado.drop_duplicates(subset="Nombre completo", keep="first", inplace=True)

In [85]:
# Mostrar el DataFrame resultante
df_finalizado.count()

Nombre completo                 8913
Correo                          8913
Estatus                         8913
Hora y fecha última conexión    8913
Calificación                    8913
LastConnetion                   8913
dtype: int64

In [86]:
# Guardar el DataFrame resultante en un nuevo archivo CSV
df_finalizado.to_csv(f'{PATH}/Output_MoodleQuizFirstTry.csv', index=False)

In [87]:
!ls

ObtenerPrimerIntento.ipynb data